<div class="contacts-container">
    <div class="button-container">
        <button type="button" class="home-icon"> 
            <img [routerLink]="['/home']" class="mama-hawk-icon" src="./assets/images/icon_boarhat.png">
        </button>
    </div>
    <div *ngIf="!(isHandset | async)">
        <div class="first-posters">
            <a href="https://discord.gg/cH6nck7" target="_blank">
                <img class="discord" src="./assets/images/Discord.jpg">
            </a>
            <a href="https://github.com/NatsuDragneel93" target="_blank">
                <img class="github" src="./assets/images/Github.jpg">
            </a>
            <a href="https://www.twitch.tv/moderator/loras96" target="_blank">
                <img class="twitch" src="./assets/images/Twitch.jpg">
            </a>
        </div>
        <div class="second-posters">
            <a href="https://www.youtube.com/user/loris962009" target="_blank">
                <img class="youtube" src="./assets/images/Youtube.jpg">
            </a>
        </div>
        <div class="third-posters">
            <a href="mailto:hackernatsu93@gmail.com">
                <img class="mail" src="./assets/images/Mail.jpg">
            </a>
        </div>
    </div>

    <div *ngIf="(isHandset | async)">
        <div class="first-posters">
            <a href="https://discord.gg/cH6nck7" target="_blank">
                <img class="discord" src="./assets/images/Discord.jpg">
            </a>
            <a href="https://github.com/NatsuDragneel93" target="_blank">
                <img class="github" src="./assets/images/Github.jpg">
            </a>
        </div>
        <div class="second-posters">
            <a href="https://www.twitch.tv/moderator/loras96" target="_blank">
                <img class="twitch" src="./assets/images/Twitch.jpg">
            </a>
        </div>
        <div class="third-posters">
            <a href="https://www.youtube.com/user/loris962009" target="_blank">
                <img class="youtube" src="./assets/images/Youtube.jpg">
            </a>
        </div>
        <div class="fourth-posters">
            <a href="mailto:hackernatsu93@gmail.com">
                <img class="mail" src="./assets/images/Mail.jpg">
            </a>
        </div>
    </div>


</div>
