.home-container{
    display: flex;
    flex-direction: column;
}

.header-section{
    width: 100%;
    height: 35vh;
    background-image: url("src/assets/images/desktop-header-day.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.header-section-night{
    width: 100%;
    height: 35vh;
    background-image: url("src/assets/images/desktop-header-night.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.header-image{
    height: 55%;
    width: 15%;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
    animation: pulse 1s linear infinite;
}

@keyframes pulse {
    0% {
     transform: scale(1, 1);
    }

    50% {
     transform: scale(1.1, 1.1);
    }

    100% {
    transform: scale(1, 1);
    }
}
.header-image:hover{
    transform: scale(1.03); 
}

@media screen and (min-width: 600px) and (max-width: 1199px){

    .header-image{
        height: 45%;
        width: 18%;
    }

    .header-image:hover{
        transform: scale(1.03); 
    }
}

@media screen and (max-width: 599px) {

    .header-section{
        background-image: url("src/assets/images/mobile-header-day.jpg");
    }

    .header-section-night{
        background-image: url("src/assets/images/mobile-header-night.jpg");
    }

    .header-image{
        height: 30%;
        width: 35%;
    }

    .seven-disclaimer{
        font-size: xx-small !important;
    }

    .font-disclaimer{
        font-size: xx-small !important;
    }

    .footer-container{
        height: 8vh;
    }
    
}

.button-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1000;
}

.home-button{
    height: 50px;
    font-size: xx-large;
    background: white;
    border-style: none;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
}

.random{
    width: 100vw;
    height: 30vh;
    background-image: url("src/assets/images/versus.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: black;
    text-align: center;
    font-size: 50px;
    text-shadow: #000 0px 0px 3px,   #000 0px 0px 3px,   #000 0px 0px 3px,
                 #000 0px 0px 3px,   #000 0px 0px 3px,   #000 0px 0px 3px;
    line-height: 30vh;
    cursor: pointer;
    font-family: 'BoisterBlack';
    color: white;
}

.random:hover{
    transform: scale(1.03); 
}

.list{
    width: 100vw;
    height: 30vh;
    background-image: url("src/assets/images/Sins.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: black;
    text-align: center;
    font-size: 50px;
    text-shadow: #000 0px 0px 3px,   #000 0px 0px 3px,   #000 0px 0px 3px,
                 #000 0px 0px 3px,   #000 0px 0px 3px,   #000 0px 0px 3px;
    line-height: 30vh;
    cursor: pointer;
    font-family: 'BoisterBlack';
    color: white;
}

.list:hover{
    transform: scale(1.03); 
}

.seven-disclaimer{
    font-size: small;
}

.font-disclaimer{
    font-size: small;
}

.font-disclaimer a:link, a:visited, a:active, a:hover{
    color: white;
    text-decoration: none;
}

.footer-container{
    color: white;
    height: 5vh;
}

.disclaimer-container{
    text-align: center;
    line-height: 2vh;
}











// .button-container2{
//     height: 94vh;
// }

// .random2{
//     width: 100vw;
//     height: 47vh;
//     background-image: url("src/assets/images/meliodasvszeldris-opacized.png");
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center center;
//     color: black;
//     text-align: center;
//     font-size: 50px;
//     text-shadow: #000 0px 0px 3px,   #000 0px 0px 3px,   #000 0px 0px 3px,
//                  #000 0px 0px 3px,   #000 0px 0px 3px,   #000 0px 0px 3px;
//     line-height: 30vh;
//     cursor: pointer;
//     font-family: 'BoisterBlack';
//     color: white;
// }

// .list2{
//     width: 100vw;
//     height: 47vh;
//     background-image: url("src/assets/images/all-sins-opacized.jpg");
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center center;
//     color: black;
//     text-align: center;
//     font-size: 50px;
//     text-shadow: #000 0px 0px 3px,   #000 0px 0px 3px,   #000 0px 0px 3px,
//                  #000 0px 0px 3px,   #000 0px 0px 3px,   #000 0px 0px 3px;
//     line-height: 30vh;
//     cursor: pointer;
//     font-family: 'BoisterBlack';
//     color: white;
// }

// .footer-container2{
//     color: white;
//     height: 6vh;
// }

// .disclaimer-container2{
//     text-align: center;
//     line-height: 2vh;
// }