<diV class="home-container">

    <div [ngClass]="(isNight==true)?'header-section-night':'header-section'" >
        <img class="header-image" [routerLink]="['/contacts']" src="./assets/images/contacts.jpg">
        <!-- <img class="header-image" [routerLink]="['/contacts']" src="./assets/images/hawk-dorme.jpg"> -->
    </div>
    <div class="button-container">
        <div class="random" [routerLink]="['/randomizer']">
            Randomizer
        </div>
        <div class="list" [routerLink]="['/character-list']">
            Characters
        </div>
    </div>
    <div class="footer-container">
        <div class="disclaimer-container">
            <p class="seven-disclaimer">
                Disclaimer: We are NOT affiliated with this game, this is a fan site dedicated to the game. Randomizer is not affiliated with or endorsed by Netmarble.
            </p>
            <p class="font-disclaimer">
                Font made from <a href="http://www.onlinewebfonts.com" target="_blank">oNline Web Fonts</a> is licensed by CC BY 3.0
            </p>
        </div>
    </div>
    
</diV>




<!-- <diV class="home-container">

    <div class="button-container2">
        <div class="random2" [routerLink]="['/randomizer']">
            Randomizer
        </div>
        <div class="list2" [routerLink]="['/character-list']">
            Characters
        </div>
    </div>
    <div class="footer-container2">
        <div class="disclaimer-container2">
            <p class="seven-disclaimer">
                Disclaimer: We are NOT affiliated with this game, this is a fan site dedicated to the game. Randomizer is not affiliated with or endorsed by Netmarble.
            </p>
            <p class="font-disclaimer">
                Font made from <a href="http://www.onlinewebfonts.com" target="_blank">oNline Web Fonts</a> is licensed by CC BY 3.0
            </p>
        </div>
    </div>
    
</diV> -->