<div>
    <button type="button" class="home-icon">
        <img [routerLink]="['/home']" class="mama-hawk-icon" src="./assets/images/icon_boarhat.png">
    </button>
</div>

<div class="filter-section">
    <div class="filter-title">
        Filters
    </div>

    <div *ngIf="!(isHandset | async)" class="filter-container">

        <div class="filter-grade">
            <div class="single-section-filter">
                <div class="icon-title">Grade</div>
                <div class="icon-container">
                    <label class="container">
                        <img class="icon-filter" src="./assets/images/ssr.png">
                        <input type="checkbox" (click)="filterBy('ssr', 'grade')">
                    </label>
                    <label class="container">
                        <img class="icon-filter" src="./assets/images/sr.png">
                        <input type="checkbox" (click)="filterBy('sr', 'grade')">
                    </label>
                    <label class="container">
                        <img class="icon-filter" src="./assets/images/r.png">
                        <input type="checkbox" (click)="filterBy('r', 'grade')">
                    </label>
                </div>
            </div>
        </div>

        <div class="filter-race">
            <div class="single-section-filter">
                <div class="icon-title">Race</div>
                <div>
                    <div class="left">
                        <label class="container">
                            <img class="icon-filter" src="./assets/images/race_human.png">
                            <input type="checkbox" (click)="filterBy('human', 'race')">
                            <span class="race-name">Human</span>
                        </label>
                        <label class="container">
                            <img class="icon-filter" src="./assets/images/race_demon.png">
                            <input type="checkbox" (click)="filterBy('demon', 'race')">
                            <span class="race-name">Demon</span>
                        </label>
                        <label class="container">
                            <img class="icon-filter" src="./assets/images/race_fairy.png">
                            <input type="checkbox" (click)="filterBy('fairy', 'race')">
                            <span class="race-name">Fairy</span>
                        </label>
                    </div>
                    <div class="right">
                        <label class="container">
                            <img class="icon-filter" src="./assets/images/race_giant.png">
                            <input type="checkbox" (click)="filterBy('giant', 'race')">
                            <span class="race-name">Giant</span>
                        </label>
                        <label class="container">
                            <img class="icon-filter" src="./assets/images/race_goddess.png">
                            <input type="checkbox" (click)="filterBy('goddess', 'race')">
                            <span class="race-name">Goddes</span>
                        </label>
                        <label class="container">
                            <img class="icon-filter" src="./assets/images/race_unknown.png">
                            <input type="checkbox" (click)="filterBy('unknown', 'race')">
                            <span class="race-name">Unknown</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="filter-attribute">
            <div class="single-section-filter">
                <div class="icon-title">Attribute</div>
                <div class="icon-container">
                    <label class="container">
                        <img class="icon-filter" src="./assets/images/attribute_strength.png">
                        <input type="checkbox" (click)="filterBy('strength', 'attribute')">
                    </label>
                    <label class="container">
                        <img class="icon-filter" src="./assets/images/attribute_speed.png">
                        <input type="checkbox" (click)="filterBy('speed', 'attribute')">
                    </label>
                    <label class="container">
                        <img class="icon-filter" src="./assets/images/attribute_hp.png">
                        <input type="checkbox" (click)="filterBy('hp', 'attribute')">
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="(isHandset | async)" class="filter-section">

        <div class="grade-attribute-mobile">
            <div class="filter-grade">
                <div class="single-section-filter">
                    <div class="icon-title">Grade</div>
                    <div class="icon-container">
                        <label class="container">
                            <img class="icon-filter" src="./assets/images/ssr.png">
                            <input type="checkbox" (click)="filterBy('ssr', 'grade')">
                        </label>
                        <label class="container">
                            <img class="icon-filter" src="./assets/images/sr.png">
                            <input type="checkbox" (click)="filterBy('sr', 'grade')">
                        </label>
                        <label class="container">
                            <img class="icon-filter" src="./assets/images/r.png">
                            <input type="checkbox" (click)="filterBy('r', 'grade')">
                        </label>
                    </div>
                </div>
            </div>

            <div class="filter-attribute">
                <div class="single-section-filter">
                    <div class="icon-title">Attribute</div>
                    <div class="icon-container">
                        <label class="container">
                            <img class="icon-filter" src="./assets/images/attribute_strength.png">
                            <input type="checkbox" (click)="filterBy('strength', 'attribute')">
                        </label>
                        <label class="container">
                            <img class="icon-filter" src="./assets/images/attribute_speed.png">
                            <input type="checkbox" (click)="filterBy('speed', 'attribute')">
                        </label>
                        <label class="container">
                            <img class="icon-filter" src="./assets/images/attribute_hp.png">
                            <input type="checkbox" (click)="filterBy('hp', 'attribute')">
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="filter-race">
            <div class="single-section-filter">
                <div class="icon-title">Race</div>
                <div>
                    <div class="left">
                        <label class="container">
                            <img class="icon-filter" src="./assets/images/race_human.png">
                            <input type="checkbox" (click)="filterBy('human', 'race')">
                            <span class="race-name">Human</span>
                        </label>
                        <label class="container">
                            <img class="icon-filter" src="./assets/images/race_demon.png">
                            <input type="checkbox" (click)="filterBy('demon', 'race')">
                            <span class="race-name">Demon</span>
                        </label>
                        <label class="container">
                            <img class="icon-filter" src="./assets/images/race_fairy.png">
                            <input type="checkbox" (click)="filterBy('fairy', 'race')">
                            <span class="race-name">Fairy</span>
                        </label>
                    </div>
                    <div class="right">
                        <label class="container">
                            <img class="icon-filter" src="./assets/images/race_giant.png">
                            <input type="checkbox" (click)="filterBy('giant', 'race')">
                            <span class="race-name">Giant</span>
                        </label>
                        <label class="container">
                            <img class="icon-filter" src="./assets/images/race_goddess.png">
                            <input type="checkbox" (click)="filterBy('goddess', 'race')">
                            <span class="race-name">Goddes</span>
                        </label>
                        <label class="container">
                            <img class="icon-filter" src="./assets/images/race_unknown.png">
                            <input type="checkbox" (click)="filterBy('unknown', 'race')">
                            <span class="race-name">Unknown</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<!-- <div class="compact-button-container">
    <span *ngIf="!isCompact">Extended Version</span>
    <span *ngIf="isCompact">Compact Version</span>
    <label class="switch">
        <input type="checkbox">
        <span class="slider round" (click)="changeView()"></span>
    </label>
</div> -->

<div class="characters-container">
    <div class="compact-button-container">
        <span *ngIf="!isCompact">Extended Version</span>
        <span *ngIf="isCompact">Compact Version</span>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round" (click)="changeView()"></span>
        </label>
    </div>
    <div class="characters-list">
        <div *ngFor="let character of filteredCharacters">
            <div class="single-character">
                <img class="character-image" src={{character.images}}>
                <span *ngIf="!this.isCompact" class="character-name">{{character.name}}</span>
            </div>
        </div>
    </div>
</div>

<button type="button" class="to-top-button" (click)="toTopPage()">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="24px" height="24px">
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path
            d="M13 19V7.83l4.88 4.88c.39.39 1.03.39 1.42 0 .39-.39.39-1.02 0-1.41l-6.59-6.59c-.39-.39-1.02-.39-1.41 0l-6.6 6.58c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0L11 7.83V19c0 .55.45 1 1 1s1-.45 1-1z" />
    </svg>
</button>