.randomizer-container{
    width: 100%;
    min-height: 100vh;
    // color: white;
    background-color: #151515;
}

.randomizer-container-day{
    background-color: #FAFAFA;
    width: 100%;
    min-height: 100vh;
}

.home-icon{
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    padding: 8px;
}

.filter-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    // color: white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.filter-section-day{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    // color: white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: #151515;
}

.filter-title{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.filter-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.filter-grade{
    display: flex;
    flex-direction: column;
    background-color: #252525;
    border-radius: 8px;
    box-shadow: 0 5px 15px #404040, 0 4px 12px #404040;
    padding: 10px;
    margin: 16px;
}

.filter-grade-day{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 5px 15px #404040, 0 4px 12px #404040;
    padding: 10px;
    margin: 16px;
}

.filter-grade:hover{
    box-shadow: 0 5px 15px #606060, 0 4px 12px #606060;
}

.filter-grade-day:hover{
    box-shadow: 0 5px 15px #151515, 0 4px 12px #151515;
}

.filter-race{
    display: flex;
    flex-direction: column;
    background-color: #252525;
    border-radius: 8px;
    box-shadow: 0 5px 15px #404040, 0 4px 12px #404040;
    padding: 10px;
    margin: 16px;
    min-width: 280px
}

.filter-race-day{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 5px 15px #404040, 0 4px 12px #404040;
    padding: 10px;
    margin: 16px;
    min-width: 280px
}

.filter-race:hover{
    box-shadow: 0 5px 15px #606060, 0 4px 12px #606060;
}

.filter-race-day:hover{
    box-shadow: 0 5px 15px #151515, 0 4px 12px #151515;
}

.filter-attribute{
    background-color: #252525;
    border-radius: 8px;
    box-shadow: 0 5px 15px #404040, 0 4px 12px #404040;
    padding: 10px;
    margin: 16px;
}

.filter-attribute-day{
    border-radius: 8px;
    box-shadow: 0 5px 15px #404040, 0 4px 12px #404040;
    padding: 10px;
    margin: 16px;
}

.filter-attribute:hover{
    box-shadow: 0 5px 15px #606060, 0 4px 12px #606060;
}

.filter-attribute-day:hover{
    box-shadow: 0 5px 15px #151515, 0 4px 12px #151515;
}

.single-section-filter{
    display: flex;
    flex-direction: column;
}

.icon-title{
    font-size: large;
    text-align: center;
    margin-bottom: 20px;
}

.icon-container{
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    align-items: center;
}

.icon-filter{
    width: 40px;
    margin-right: 4px;
}

.race-name{
    margin-left: 4px;
}

.left{
    width: 50%;
    float: left;
}

.right{
    width: 50%;
    float: right;
}

.random-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 15px;
}

.single-character-container{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.random-button{
    height: 40px;
    background: #252525;
    color: white;
    border-style: none;
    border-radius: 8px;
    max-width: 200px;
    align-self: center;
    box-shadow: 0 5px 15px #404040, 0 4px 12px #404040;
}

.random-button:hover{
    box-shadow: 0 5px 15px #606060, 0 4px 12px #606060;
}

.random-button-day{
    height: 40px;
    color: black;
    border-style: none;
    border-radius: 8px;
    max-width: 200px;
    align-self: center;
    box-shadow: 0 5px 15px #404040, 0 4px 12px #404040;
}

.random-button-day:hover{
    box-shadow: 0 5px 15px #151515, 0 4px 12px #151515;
}

.no-character{
    width: 90px;
    height: 90px;
    margin: 24px;
    box-shadow: inset 0 0 20px #404040;
}

.nosquad{
    display: flex;
}

.single-character{
    display: flex;
    flex-direction: column;
    width: 90px;
    margin: 24px
}

.character-name{
    font-size: 13px;
    // color: white;
    margin-top: 4px;
}

.squad{
    display: flex;
}

.squad-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 560px;
    padding: 40px;
}

@media screen and (max-width: 599px) {
    .squad-container {
    min-width: auto;
    }

    .squad{
        display: flex;
        flex-wrap: wrap;
    }

    .nosquad{
        display: flex;
        flex-wrap: wrap;
    }

    .mama-hawk-icon{
        height: 80px;
    }
}

.grade-attribute-mobile{
    display: flex;
    justify-content: center;
}

.mama-hawk-icon{
    height: 90px;
}

.compact-button-container{
    // color: white;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
    margin-left: 10px;
  }

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #353535;
  -webkit-transition: .4s;
  transition: .4s;
}
  
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
 
input:checked + .slider {
    background-color: #2C6E31;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2C6E31;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}
    
.button-con {
    cursor: default;
    position: absolute;
    top: 45px;
    right: 20px;
}
  
#dayIcon {
    position: relative;
    width: 18px;
    height: 18px;
    top: -3px;
    margin: 0 7px;
    // fill: #9caec0;
    fill: #D0A667;
}
  
#nightIcon {
    position: relative;
    width: 18px;
    height: 18px;
    top: -3px;
    margin: 0 7px;
    // fill: #9caec0;
    fill: #D0A667;
}
  
#dayIcon, #nightIcon {
    cursor: pointer;
}
  
.toggle {
    display: none;
}
  
.toggle, .toggle:after, .toggle:before, .toggle *, .toggle *:after, .toggle *:before, .toggle + .toggle-button {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
  
.toggle::-moz-selection, .toggle:after::-moz-selection, .toggle:before::-moz-selection, .toggle *::-moz-selection, .toggle *:after::-moz-selection, .toggle *:before::-moz-selection, .toggle + .toggle-button::-moz-selection {
    background: none;
}
  
.toggle::selection, .toggle:after::selection, .toggle:before::selection, .toggle *::selection, .toggle *:after::selection, .toggle *:before::selection, .toggle + .toggle-button::selection {
    background: none;
}
  
.toggle + .toggle-button {
    outline: 0;
    display: inline-block;
    // width: 4em;
    // height: 2em;
    width: 3em;
    height: 1.5em;
    position: relative;
    cursor: pointer;
    border: 2px solid #333;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
.toggle + .toggle-button:after, .toggle + .toggle-button:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}
  
.toggle + .toggle-button:after {
    left: 0;
}
  
.toggle + .toggle-button:before {
    display: none;
}
  
.toggle:checked + .toggle-button:after {
    left: 50%;
}
  
.toggle + .toggle-button {
    padding: 2px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    // border: 2px solid rgba(156, 174, 192, 0.27);
    border: 2px solid#D0A667;
    border-radius: 2em;
}
  
.toggle + .toggle-button:after {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    // background: rgba(156, 174, 192, 0.27);
    background: #D0A667;
    content: "";
    border-radius: 1em;
}
  
.toggle:checked + .toggle-button:after {
    left: 50%;
}